#d1 {
  width: 10%; }

p {
  width: 1.11111in; }

p::before {
  content: "Microsoftyahei";
  font-family: Arial; }

p {
  font: 10px/5px;
  width: 500px;
  height: 250px;
  margin: 9px; }

p:after {
  content: "I ate 39 baozis"; }

p {
  color: rgba(22, 44, 66, 0.5); }

div {
  color: black;
  font-family: MicrosoftYahei; }

p {
  width: 300px; }

div {
  border-radius: 10%; }
