$my-width:5%;
$my_max_width:$my-width*2;
$size:$my-width+ $my_max_width;
#d1{
  width: $size - $my-width;
}

p{
  width:1in+8pt;
}
p::before{
  content:"Microsoft"+yahei;
  font-family: A+"rial";
}
p{
  font:10px/5px;
  $width:1000px;
  width: $width/2;
  height: (500px/2);
  margin:5px+8px/2px;
}
p:after{
  content: "I ate #{16+23} baozis";
}
p{
  color:rgba(11,22,33,0.5)+rgba(11,22,33,0.5);
}
div{
  color:hsl(120,50%,0%);
  font-family: unquote("MicrosoftYahei");
}
@function get_width(){
  $max-width:400px;
  $min-width:100px;
  @return $max-width - $min-width;
}
p{
  width:get_width();
}
div{
  @if 1+1==4{border-radius:50%}
  @else if(1-1==-1){border-radius:30%}
  @else {border-radius:10%}
}






